*{
  font-family: "Monsterrat", sans-serif;
  margin: 0;
}

.hidden {
  display: none;
}

/* Body */

.main-view {
  display: flex;
  height: 100vh;
}

.people-pic,
.keyboard-pic {
  width: 30px;
  height: 30px;
}

.mini-imgs {
  width: 15px;
  height: 15px;
}

.selection-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #C569E3;
  width: 70%;
}

.human-section, .computer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #DA88F5;
  width: 15%;
}

.side-sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  color: white;
}

.middle-section-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  color: white;
}

.start-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.classic-button,
.difficult-button {
  color: white;
  border: 0px solid #CBC9CF;
  background-color: #AE4ECE;
}

.difficult-button {
  margin-top: 50px;
}

.change-game-button {
  color: white;
  background-color: #9D32C0;
  border: 0px;
  margin-top: 70px;
  padding: 10px;
}

.human-wins,
.computer-wins {
  margin-top: 20px;
  font-weight: 300;
}

.choose-your-game-title,
.choose-your-fighter-title {
  font-weight: 300;
  margin-top: 5px;
}

.classic-game-instructions {
  margin-top: 15px;
  margin-bottom: 25px;
  margin-left: 44px;
  margin-right: 44px;
}

.difficult-game-instructions {
  margin-top: 15px;
  margin-bottom: 25px;
  margin-left: 20px;
  margin-right: 20px;
}

.game-titles {
  margin-top: 15px;
  font-weight: 300;
}

.side-section-titles {
  margin-top: 10px;
  font-weight: 300;
}

/* FIGHTER VIEW */

.middle-section-bottom-fighter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.fighter-buttons {
  margin-top: 150px;
}

.rock-button,
.paper-button,
.scissors-button {
  border: 0px;
  background-color: transparent;
}

.rock-pic,
.paper-pic,
.scissor-pic {
  width: 180px;
  height: 180px;
}
